name: PR Preview

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        if: github.event.action != 'closed'
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install Jekyll and dependencies
        if: github.event.action != 'closed'
        run: |
          gem install jekyll:4.3.2 bundler:2.4.10
          gem install jekyll-relative-links:0.1.3

      - name: Build Jekyll site
        if: github.event.action != 'closed'
        run: |
          jekyll build --baseurl "/pr-${{ github.event.number }}" --verbose
        env:
          JEKYLL_ENV: production

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1.4.7
        with:
          source-dir: ./_site
          preview-branch: gh-pages
          umbrella-dir: pr-previews
          action: auto
